body {
    padding-top: 5rem;
}
.adjust{
    width: 250px;
    margin-bottom:40px;
    border-radius: 5px;
}

.adjust1{
   width: 320px; 
   height: 70px;
   margin-bottom:30px;
}

.sendb{
    background-color:##007bff;
    width:60px;
    padding:3px;
    border-radius:7px;

}

.flash{
    background-color:#ea8383;
    width:400px;
    padding:10px;
}

h2.borderl{
    border-bottom-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
    border-color:#007bff;
}

img {width: 150px;
    padding-left: 20px;
    display: block;
}

text {float: right}

.prof{
    background-color: white;
    margin-bottom: 10px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 150px;
}
.btn{
    background-color: green;
    color: white;
}
.profile:after {
    content: "";
    display: table;
    clear: both;
    
}

.profile {
    border-color: grey;
    margin-bottom: 10px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     border-radius: 2.5%;
     border-top: 4px solid #007bff;
     
}


.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
}

a:hover{color: white;}

a{color: white;}

.userimg{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: center;
    padding-top: 10px;
}

.tocenter {
    text-align: center;
}

.leftmove{
    margin-left: 0;
    margin-right: 0;
    width: 70%;
    float:left;
}

.cen{
    text-align: center;
    float:right;
    
}