{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}
  
  <div class = "layout border-style">
      
          {% for image_name in image_names %}
              {% if user.photo_name == image_name %}
              <div class = "card">    
                <div>
                  <div>
                      <div class="leftmove">
                          <img src="{{url_for('static', filename='uploads/'+image_name)}}" alt="user photo" class="userimg">
                      </div>
                      <div>
                          <div class:"cen">
                            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                          </div>
                            <hr>
                          <ul>
                            <p><span></span>{{ user.email }}</p>
                            <p><span></span>{{ user.location }}</p>
                            <p><span></span>Joined on {{ user.date_created.strftime("%B %d, %Y") }}</p>
                          </ul>
                      </div>
                  </div>
                        <div>
                            <h3>About me</h3>
                            <p>{{ user.biography }}</p>
                        </div>
                        <div class="tocenter">
                            <button class="btn btn-success btn-sm">Send Message</button>
                            <button class="btn btn-primary btn-sm">Follow</button>
                        </div>
                    </div>
                </div>
                {% endif %}
          {% endfor %}
        
            
  </div>









{% endblock %}